In [2]:
import os
import pandas as pd
import numpy as np
from pybaseball import batting_stats # Use this library to download the baseball stats

In [3]:
START = 2002
END = 2022

In [4]:
batting = batting_stats(START, END, qual=200) # Qual determines how many minimum plate appearances a batter can have

In [6]:
batting.to_csv("batting.csv") # Store this batting data into a CSV file

In [7]:
# Split batting data columns into groups for each player
# Filter groups to only include a player's data group that has more than 1 season of data
batting = batting.groupby("IDfg", group_keys=False).filter(lambda x: x.shape[0] > 1)

In [8]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR
0,1109,2002,Barry Bonds,SFG,37,143,403,612,149,70,...,NaN,NaN,NaN,0,0.127,0.191,NaN,NaN,NaN,12.7
1,1109,2004,Barry Bonds,SFG,39,147,373,617,135,60,...,NaN,NaN,NaN,0,0.124,0.164,NaN,NaN,NaN,11.9
8,15640,2022,Aaron Judge,NYY,30,157,570,696,177,87,...,118.4,246.0,0.609,404,0.169,0.287,NaN,NaN,NaN,11.4
2,1109,2003,Barry Bonds,SFG,38,130,390,550,133,65,...,NaN,NaN,NaN,0,0.135,0.223,NaN,NaN,NaN,10.2
15,13611,2018,Mookie Betts,BOS,25,136,520,614,180,96,...,110.6,217.0,0.500,434,0.220,0.270,NaN,NaN,NaN,10.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7042,9272,2018,Chris Davis,BAL,32,128,470,522,79,51,...,111.8,113.0,0.401,282,0.174,0.316,NaN,NaN,NaN,-2.6
6535,45,2012,Rod Barajas,PIT,36,104,321,361,66,44,...,NaN,0.0,NaN,0,0.147,0.258,NaN,NaN,NaN,-2.6
6673,319,2011,Adam Dunn,CHW,31,122,415,496,66,39,...,NaN,0.0,NaN,0,0.169,0.295,NaN,NaN,NaN,-2.9
6988,620,2002,Neifi Perez,KCR,29,145,554,585,131,104,...,NaN,NaN,NaN,0,0.130,0.187,NaN,NaN,NaN,-2.9
978,2113,2008,Ryan Doumit,PIT,27,116,431,465,137,88,...,NaN,0.0,NaN,0,0.144,0.231,NaN,NaN,NaN,-3.1

In [ ]:
# Setting up ML target
def next_season(player):
    # Split data up by player and for each player, backfill WAR value for next season as target
    player = player.sort_values("Season")
    player["Next_WAR"] = player["WAR"].shift(-1)
    return player

batting = batting.groupby("IDfg", group_keys=False).apply(next_season)

In [14]:
batting[["Name", "Season", "WAR", "Next_WAR"]]

                 Name  Season  WAR  Next_WAR
5562  Alfredo Amezaga    2006  1.1       2.0
5006  Alfredo Amezaga    2007  2.0       1.2
5252  Alfredo Amezaga    2008  1.2       NaN
1169  Garret Anderson    2002  3.7       5.1
864   Garret Anderson    2003  5.1       0.8
...               ...     ...  ...       ...
6002      Owen Miller    2022  0.7       NaN
4881    Andrew Vaughn    2021 -0.2      -0.5
3377    Andrew Vaughn    2022 -0.5       NaN
6620     Ha-seong Kim    2021  0.4       3.6
4396     Ha-seong Kim    2022  3.6       NaN

[6754 rows x 4 columns]

In [15]:
null_count = batting.isnull().sum()

In [16]:
null_count

IDfg           0
Season         0
Name           0
Team           0
Age            0
            ...
xBA         6754
xSLG        6754
xwOBA       6754
L-WAR          0
Next_WAR    1179
Length: 321, dtype: int64

In [20]:
complete_cols = list(batting.columns[null_count == 0]) # Select columns without any missing values
batting = batting[complete_cols + ["Next_WAR"]].copy() # Select all complete columns and "Next_War" column for batting

In [21]:
batting

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Cent%+,Oppo%+,Soft%+,Med%+,Hard%+,Events,CStr%,CSW%,L-WAR,Next_WAR
5562,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,107,113,143,109,63,0,0.188,0.256,1.1,2.0
5006,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,101,112,109,113,75,0,0.175,0.227,2.0,1.2
5252,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,101,101,123,111,64,0,0.178,0.244,1.2,NaN
1169,2,2002,Garret Anderson,ANA,30,158,638,678,195,107,...,91,80,65,97,129,0,0.137,0.232,3.7,5.1
864,2,2003,Garret Anderson,ANA,31,159,638,673,201,119,...,101,80,90,99,109,0,0.164,0.252,5.1,0.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6002,24655,2022,Owen Miller,CLE,25,130,424,472,103,70,...,111,97,131,100,83,340,0.188,0.266,0.7,NaN
4881,26197,2021,Andrew Vaughn,CHW,23,127,417,469,98,61,...,104,116,84,99,110,321,0.185,0.285,-0.4,-0.5
3377,26197,2022,Andrew Vaughn,CHW,24,134,510,555,138,92,...,106,111,94,100,104,419,0.201,0.291,-0.5,NaN
6620,27506,2021,Ha-seong Kim,SDP,25,117,267,298,54,32,...,99,59,137,96,88,201,0.216,0.303,0.5,3.6
4396,27506,2022,Ha-seong Kim,SDP,26,150,517,582,130,87,...,104,71,117,100,90,424,0.205,0.276,3.7,NaN

In [23]:
batting.dtypes[batting.dtypes == "object"]

Name       object
Team       object
Dol        object
Age Rng    object
dtype: object

In [ ]:
# Delete unnecessary String type columns - only player name and team should remain
del batting["Age Rng"]
del batting["Dol"]

In [38]:
# Assign numbers to each 3-letter team name abbreviation
batting["team_code"] = batting["Team"].astype("category").cat.codes # Use pandas to categorically sort teams, and convert categories to a number

In [41]:
# Make copy of batting data because we're dropping any rows where "Next_WAR" is empty but those rows could be useful in predicting future seasons
batting_full = batting.copy()
batting = batting.dropna()